@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Bai Jamjuree", sans-serif;
  --color-primary-gray900: #181818;
  --color-primary-gray800: #212327;
  --color-primary-gray700: #292a2d;
  --color-primary-gray650: #242424;
  --color-primary-gray600: #343538;
  --color-primary-gray500: #404045;
  --color-primary-gray400: #4A4A4A;
  --color-primary-purple500: #6466e9;
  --color-primary-purple400: #8c8cf1;
  --color-primary-purple300: #a8a9f7;
  --color-primary-purple100: #e3e3fc;
  --color-primary-error: #F44336;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bai Jamjuree", sans-serif;
}

/* Suas customizações de scrollbar permanecem iguais */
.chat-scroll-container::-webkit-scrollbar {
  width: 2px;
}

.chat-scroll-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.chat-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(48, 48, 48, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(48, 48, 48, 0.8) rgba(255, 255, 255, 0.01);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #404045 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}